.apartment-card {
    position: relative;
    width: 380px;
    border: 1px solid #DFE4E4;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    text-align: center;
}

.apartment-card:hover {
    box-shadow: 1px 1px 8px rgba(100,100,100,0.2);
}

.apartment-card svg path{
    fill: #FBCE48;
}

.apartment-card__icon {
    position: absolute;
    top: 140px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: #F8F8F8;
    border: 2px solid #DFE4E4;
    box-sizing: border-box;
    z-index: 1;
}

.apartment-card__image {
    height: 200px;
    object-fit: cover;
}

.apartment-card__image-cover {
    position: absolute;
    background-image: linear-gradient(180deg, #545454 0%, rgba(255, 255, 255, 0) 100%);
}

.apartment-card__header {
    position: relative;
}

.apartment-card__header__button {
    position: absolute;
    width: 52px;
    height: 48px;
    right: 20px;
    top: 20px;

    background: #F5F5F5;
    border: 1px solid #DFE4E4;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.apartment-card__header__button:hover {
    box-shadow: 1px 1px 8px rgba(255,255,255,0.5);
}

.apartment-card__header__button:hover > svg path {
    fill: #FF5050;
}

.apartment-card__header__button svg path{
    fill: #888888;
    transition: all 0.1s ease-in-out;
}

.apartment-card__header__button input {
    display: none;
}

.apartment-card__header__button input:checked + svg path{
    fill: #FF5050;
    stroke: #F5F5F5;
}

.apartment-card__main {
    padding: 60px 30px 36px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.apartment-card__footer {
    padding: 0 7px;
    box-sizing: border-box;
    background: #F8F8F8;
    border: 1px solid #DFE4E4;
}

.apartment-card__footer-item {
    padding: 30px 20px;
    box-sizing: border-box;
}

.apartment-card__footer-item--hr {
    border: none;
    width: 1px;
    height: 40px;
    background: #DFE4E4;
}

@media screen and (max-width: 420px){
    .apartment-card {
        width: 100%;
    }
}