* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

html, body, #root {
    width: 100%;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #343434;
}

h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #5E5E5E;
}

h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #545454;
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #9A9A9A;
}

.container {
    max-width: 1320px;
    margin: 60px auto;
}

/* Flex */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.a-baseline {
    align-items: baseline;
}

.a-stretch {
    align-items: stretch;
}

/* GRID */

.grid-3 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

@media screen and (max-width: 1250px){
    .grid-3 {
        grid-template-columns: 1fr 1fr;
    }

    .container {
        margin: 0 16px;
    }
}

@media screen and (max-width: 824px){
    .grid-3 {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
